<div class="container">
	<div class="create-tabs row">
		<div role="tabpanel" class="col-xs-6 col-xs-offset-3">

			<ul class="nav nav-tabs nav-justified" role="tablist">
				<li><a href="#">Create Account</a></li>
				<li><a href="#">Add Credit Card</a></li>
				<li class="active"><a href="#">Confirm Task</a></li>
			</ul>



		</div>
	</div>
</div>