<div id="sidebar">

	<p class="welcome">Welcome <%= current_user.name %></p>

	<ul>
		<%= link_to account_path do %>
			<li>Overview</li></a>
		<% end %>
		<%= link_to tasks_path do %>
			<li>Tasks</li>
		<% end %>
		<%= link_to account_charities_path do %>
			<li>Charities</li>
		<% end %>
		<a href="#"><li>Settings</li></a>
	</ul>

</div>