<div id="sidebar">

	<p class="welcome">Welcome <%= @user.name %></p>

	<ul>
		<%= link_to user_path(@user) do %>
			<li>Overview</li></a>
		<% end %>
		<%= link_to tasks_path do %>
			<li>Tasks</li>
		<% end %>
		<a href="#"><li>Charities</li></a>
		<a href="#"><li>Settings</li></a>
	</ul>

</div>