#introduction {
	h1 {
		color: white;
	}
	img {
		max-width: 100%;
		margin-top: 30px;
		margin-left: -5%;
	}
}

#home-section {
	background-color: rgba(95, 122, 238, 1);
	min-height: 30vh;
	padding: 50px 0;
	label {
	margin-top: 20px;
	}
}

.set-task {
	label {
	font-size: 150%;
	}
	input {
	height: 60px;
	font-size: 30px;
	}
}

#homepage-create-task {
	input[type=text], input[type=number] {
		background-color: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid white;
		box-shadow: none;
		color: white;
	}
	.date-picker-container {
		position: relative;
	}
}


#banner {
	position: relative;
	color: #fff;
	text-shadow: 0 0 0.5px rgba(255,255,255,0.25);
	text-align: center;
	background: #35b88f image-url('banner.svg') bottom center no-repeat;
	padding: 5em 0 5em 0;
	margin: 0;
	background-size: 125% auto;
	.button {
		color: #35b882;
		text-shadow: 0 0 0.5px rgba(53,184,130,0.25);
	}
	header {
		margin: 0 0 2em 0;
		h2 {
			font-weight: 400;
			font-size: 2.25em;
			letter-spacing: 5px;
		}
	}
	p {
		margin: 0;
	}
	footer {
		margin: 2em 0 0 0;
	}
}
