.create-tabs {
	margin-top: 50px;
	ul
		li
			a {
				&:hover {
					cursor: default;
				}
			}
}

.tab-content {
	margin-top: 10px;
	label {
		margin-top: 20px;
		margin-left: 10px;
	}
}

.submit-form-btn {
	text-align: right;
	margin: 20px 10px;
}

.cc-exp-ccv {
	label {
		margin-left: 20px;
		margin-right: 20px;
		vertical-align: middle;
	}
	input[type=text] {
		max-width: 100px;
		margin-top: 20px;
	}
}

.done {
	background-color: #92f4a2!important;
	color: rgb(25, 121, 169);
}

.donated {
	background-color: rgb(255, 141, 141)!important;
	color: #A62447;
}